*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

html{
  /* variaveis */
  --bg-color: rgb(187, 236, 255);
  --text-color: rgb(0, 0, 0);
  --primary-color: rgb(55, 162, 31);
  --primary-color-dark: rgb(15, 68, 28);
  --yellow-color: rgb(220, 186, 49);
}

img{
  width: 100%;
}

img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
  
}

h1{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
  font-family: 'Bungee Spice', cursive;
}

.username{
  display: block;
  align-items: center;
  width: 40%;
  

  font-family: 'Rye', cursive;
  font-weight: 400;
  opacity: 0.8;
  font-size: 30px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: black;
  text-transform: uppercase;
  font-size: 18px;

  margin-bottom: 16px;
  border-radius:  6px;

  transition: background 400ms;
  font-family: 'Silkscreen', cursive;
}

ul li a:hover{
  background: var(--primary-color-dark);
}

/* OUTROS MODOS */
body.red {
--bg-color: rgb(77, 0, 0);
  --text-color: rgb(255, 255, 255);
}

.red ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(242, 54, 54);
  color: black;
  text-transform: uppercase;
  font-size: 18px;

  margin-bottom: 16px;
  border-radius:  6px;

  transition: background 400ms;
  font-family: 'Silkscreen', cursive;
}

.red img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: rgb(181, 0, 30) solid 4px;
}

body.grey {
--bg-color: rgb(34, 31, 31);
  --text-color: rgb(255, 255, 255);
}

.grey ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow-color);
  color: black;
  text-transform: uppercase;
  font-size: 18px;

  margin-bottom: 16px;
  border-radius:  6px;

  transition: background 400ms;
  font-family: 'Silkscreen', cursive;
}

.grey img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: rgb(237, 208, 48) solid 4px;
}

body.pink {
background: pink;
  --text-color: rgb(255, 255, 255);
}

.pink ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(235, 30, 194);
  color: black;
  text-transform: uppercase;
  font-size: 18px;

  margin-bottom: 16px;
  border-radius:  6px;

  transition: background 400ms;
  font-family: 'Silkscreen', cursive;
  }

  .pink img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: rgb(255, 70, 101) solid 4px;
}

body.rainbow {
background: rgb(122, 208, 207);
color: rgb(232, 30, 250);
}

.rainbow ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-transform: uppercase;
  font-size: 18px;

  margin-bottom: 16px;
  border-radius:  6px;

  transition: background 400ms;
  font-family: 'Silkscreen', cursive;
  }

  .rainbow img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: rgb(255, 247, 0) solid 4px;
}

.rainbow .username{
  color: green;
}
.rainbow .tiktok{
  background: rgba(1, 1, 247, 0.714);
}

.rainbow .youtube{
  background: rgb(250, 103, 103);
}

.rainbow .instagram{
  background: rgb(247, 155, 95);
}

.rainbow .twitch{
  background: rgba(159, 0, 238, 0.509);
}

footer{
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  
  transition: opacity 400ms;
}

footer:hover{
  opacity: 1;
}

footer a {
  color:var(--text-color)
}
